In [2]:
import pandas as pd

In [11]:
df = pd.read_excel('imagelist120818.xlsx')

In [13]:
df.head(5)

,Filename,Date,Line,Collected,Retrieved,TempRoom,Plate,Egg,EggNo,Stand,ViewPoint,Light,Position,State
0,Images24Jul2018\Images24Jul\Picture\A003 - 201...,"""24/07/2018""",A. melanoorus R5km399,"""07/2018""","""24/07/2018""",24.5,1.0,1.0,1.0,LEGO,Dorsal,Day,OK,2
1,Images24Jul2018\Images24Jul\Picture\A004 - 201...,"""24/07/2018""",A. melanoorus R5km399,"""07/2018""","""24/07/2018""",24.5,1.0,2.0,2.0,LEGO,Dorsal,Day,OK,1
2,Images24Jul2018\Images24Jul\Picture\A005 - 201...,"""24/07/2018""",A. melanoorus R5km399,"""07/2018""","""24/07/2018""",24.5,1.0,3.0,3.0,LEGO,Dorsal,Day,OK,1
3,Images24Jul2018\Images24Jul\Picture\A006 - 201...,"""24/07/2018""",A. melanoorus R5km399,"""07/2018""","""24/07/2018""",24.5,1.0,4.0,4.0,LEGO,Dorsal,Day,OK,F
4,Images24Jul2018\Images24Jul\Picture\A007 - 201...,"""24/07/2018""",A. melanoorus R5km399,"""07/2018""","""24/07/2018""",24.5,1.0,5.0,5.0,LEGO,Dorsal,Day,OK,1

In [17]:
df.dropna(inplace=True)

In [21]:
df = df[['Filename','State']]

In [22]:
df

                                              Filename State
0    Images24Jul2018\Images24Jul\Picture\A003 - 201...     2
1    Images24Jul2018\Images24Jul\Picture\A004 - 201...     1
2    Images24Jul2018\Images24Jul\Picture\A005 - 201...     1
3    Images24Jul2018\Images24Jul\Picture\A006 - 201...     F
4    Images24Jul2018\Images24Jul\Picture\A007 - 201...     1
..                                                 ...   ...
275     Images27Jul\Picture\A038 - 20180727_175718.bmp     5
276     Images27Jul\Picture\A039 - 20180727_175740.bmp     1
277     Images27Jul\Picture\A040 - 20180727_175816.bmp     5
278     Images27Jul\Picture\A042 - 20180727_175842.bmp     1
279     Images27Jul\Picture\A043 - 20180727_175913.bmp     2

[264 rows x 2 columns]

In [24]:
df.to_csv('Embryos.csv',index=False)