In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('imagelist120818.xlsx')

In [3]:
df.head(5)

,Filename,Date,Line,Collected,Retrieved,TempRoom,Plate,Egg,EggNo,Stand,ViewPoint,Light,Position,State
0,Images24Jul2018\Images24Jul\Picture\A003 - 201...,"""24/07/2018""",A. melanoorus R5km399,"""07/2018""","""24/07/2018""",24.5,1.0,1.0,1.0,LEGO,Dorsal,Day,OK,2
1,Images24Jul2018\Images24Jul\Picture\A004 - 201...,"""24/07/2018""",A. melanoorus R5km399,"""07/2018""","""24/07/2018""",24.5,1.0,2.0,2.0,LEGO,Dorsal,Day,OK,1
2,Images24Jul2018\Images24Jul\Picture\A005 - 201...,"""24/07/2018""",A. melanoorus R5km399,"""07/2018""","""24/07/2018""",24.5,1.0,3.0,3.0,LEGO,Dorsal,Day,OK,1
3,Images24Jul2018\Images24Jul\Picture\A006 - 201...,"""24/07/2018""",A. melanoorus R5km399,"""07/2018""","""24/07/2018""",24.5,1.0,4.0,4.0,LEGO,Dorsal,Day,OK,F
4,Images24Jul2018\Images24Jul\Picture\A007 - 201...,"""24/07/2018""",A. melanoorus R5km399,"""07/2018""","""24/07/2018""",24.5,1.0,5.0,5.0,LEGO,Dorsal,Day,OK,1

In [9]:
df.dropna(inplace=True)

In [10]:
df = df[['Filename','State']]

In [11]:
df = df [df['State'].isin([1,3,5])]

In [12]:
df.to_csv('Embryos.csv',index=False)

In [28]:
state_1 = df[df['State']==1]
len(state_1)

In [30]:
state_3 = df[df['State']==3]
len(state_3)

In [32]:
state_5 = df[df['State']==5]
len(state_5)

36